html {
  height: 100%;
}
body {
  background: linear-gradient(
    178.6deg,
    rgb(232, 245, 253) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
  font-family: inconsolata, "Courier New", Courier, monospace, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #885df1;
  text-decoration: none;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #24527a;
}

.form-container {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 3px 10px 10px rgba(65, 50, 100, 0.05);
}

form {
  display: flex;
}

.instructions {
  padding: 10px;
  border: 1 px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background-color: #5dacbd;
  color: #fff;
  width: 150px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}

.submit-button:hover {
  background-color: #fff;
  color: #5dacbd;
  border: 1px solid #5dacbd;
  cursor: pointer;
  transition: 0.5s;
}

.example {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #5dacbd;
  box-shadow: 3px 10px 10px rgba(65, 50, 100, 0.05);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}
