body {
  background-color: #f9f7fe;
  font-family: inconsolata, "Courier New", Courier, monospace, sans-serif;
}

a {
  color: #885df1;
  text-decoration: none;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

form {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 10px 10px rgba(65, 50, 100, 0.05);
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 10px;
  border: 1 px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background-color: #885df1;
  color: #fff;
  width: 150px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}

.submit-button:hover {
  background-color: #fff;
  color: #885df1;
  border: 1px solid #885df1;
  cursor: pointer;
  transition: 0.5s;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 3px 10px 10px rgba(65, 50, 100, 0.05);
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}
